.App {
    text-align: center;
    background-color: #f8f8f8;
    min-height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: darkslategray;
    font-family: 'PT Sans', sans-serif;
  }
  
  .App h1 {
    font-style: italic;
    margin-bottom: 80px;
  }
  
  .Card {
    position: relative;
    background: white none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px;
    padding: 15px;
    width: 70vw;
    margin-top: 20px;
  }