.TapButton {
  background-color: #6d9998;
  color: white !important;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}
