.Card header {
  left: 0px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  transform: translateY(-50%);
}

.Card header span {
  background-color: #6d9998;
  color: white !important;  
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.Card table {
  margin-top: 30px;
  width: 100%;
  font-size: 24px;
  padding: 20px;
}

.Card table thead {
  text-transform: uppercase;
  color: #47807f;
}

.Card table tbody {
  font-style: italic;
}

.Card table tbody tr:nth-child(odd) {
  background-color: rgb(248, 248, 248);
}

.Card table th, .Card table td {
  text-align: left;
}

.Card .StartButton {
  margin: 30px;
}

.Card .StartButton a {
  background-color: #6d9998;
  color: white !important;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  text-decoration: none;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.Testimonial {
  font-style: italic;
  padding: 16px;
  margin: 16px 0;
  font-size: 24px;
}


/* Clear floats after containers */
.Testimonial::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.Testimonial img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Increase the font-size of a span element */
.Testimonial .Name {
  font-size: 18px;
  margin-top: 0;
}
